<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quotes</title>
    <style type="text/css">
    div.quote_box {
      background-color: lightblue;
      width: 500px;
      margin: 5px;
      padding: 5px;
    }
    div.head_box {
      background-color: lightgray;
      width: 540px;
      margin: 5px;
      padding: 5px;
      height: 400px;
      overflow: scroll;
    }
    </style>
  </head>
  <body>
    <div>
      <a href="/logout">Logout</a>
      <a href="/home">Home</a>
    </div>
      <h1>Posts by: {{ user.alias }}</h1>
      <p>Count: {{ quote_count }}</p>
      {% for quote in quotes_by_user %}
      <div class="quote_box">
        <p>{{ quote.author }}:<span> {{ quote.quote }}</span></p>
        <hr>
      </div>
      {% endfor %}



      <br>
  </body>
</html>
